<%= render :partial => 'shared/header' %>

<p id="notice"><%= notice %></p>

<h1>Hippy Co-op Rooms</h1>

<table>
  <thead>
    <tr>
      <th>rooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.sort {|a,b| b.name <=> a.name }.each do |room| %>
      <tr>
        <td><%= link_to room.name, room %></td>
        <td><%= room.rent %></td>
        <td><%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>

