<%= render :partial => 'shared/header' %>

<p id="notice"><%= notice %></p>

<h1>Hippy Co-op Members</h1>

<p>Members</p>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Rent owed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.sort {|a,b| b.name <=> a.name }.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= member.rent_after_purchases %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %> | 

<%= link_to 'New Room', new_room_path %>

